/*Initialize Page*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 60px;
    padding-left: 2px;
    margin-left: 0px;
    background-color: #ffc36f;
}

/*Navigation menu*/
nav {
    background-color: #F29F05;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
    font-weight:bold;
    text-align: left;
    
}

nav a{
    height: 100%;
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav a:hover{
    color: black;
}

.menu {
    clear:both;
    height: auto;
    column-count: 3;
    margin: 20px;
    flex-wrap: wrap; 
}

.menu li{
    
    list-style-type: none;
    float: left;
    border: 1px solid black;
    margin: 20px;
}

.menu img{
    height: 200px;
    width: 200px;
    margin-right: 40px;
}

/*Image on Hover effect*/
#add_to_cart{
    float:right;
    margin-right: 30px;
}

.container{
    position: relative;
}

.overlay{
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255,255,255,50%);
}

.container:hover .overlay{
    opacity: 1;
}


.button {
    background-color: #F29F05;
    border-radius: 16px;
    border: none;
    box-shadow: 5px 5px 5px #000000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
  }

  .button:active {
    color:black;
    background-color: white;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }

    .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }

    .button:hover span {
    padding-right: 25px;
    }

    .button:hover span:after {
    opacity: 1;
    right: 0;
    }




