
div {
    text-align: center;
}
h1 {
    display: block;
    width: 70%;
    text-align: center;
}
table, th, td {
    border: none;
}
table {
    width: 70%;
    margin: 0 auto 0 auto;
    padding: 1px;
    border-spacing: 5px;
}
th {
    text-align:  left;
}
span#colon {
    text-align: right;
}
td {
    background-color: #f25c05;
}
input , select{
    width: 98%;
    border: rgb(226, 226, 226) 3px solid;
}
input:focus {
    border: 4px solid gray;
}
